
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- compare main wrapper start -->
<div class="compare-page-wrapper mt-20 mb-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Compare Page Content Start -->
                <div class="compare-page-content-wrap">
                    <div class="compare-table table-responsive">
                        <table class="table table-bordered mb-0">
                            <tbody>
                                <tr>
                                    <td class="first-column">Ürün</td>
                                    <td class="product-image-title">
                                        <a href="single-product.html" class="image">
                                            <img class="img-fluid" src="~/wwwroot/img/product/AppleWatchSeries7.jpg" alt="Compare Product">
                                        </a>
                                        <strong>Apple Akıllı Saat</strong>
                                        
                                    </td>
                                    <td class="product-image-title">
                                        <a href="single-product.html" class="image">
                                            <img class="img-fluid" src="~/wwwroot/img/product/SamsungGalaxyWatch4.jpg" alt="Compare Product">
                                        </a>

                                        <strong>Samsung Akıllı Saat</strong>
                                    </td>
                                    
                                </tr>


                                <tr>
                                    <td class="first-column">Açıklaması</td>
                                    <td class="pro-desc">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident nulla, explicabo iste a rerum pariatur.</p>
                                    </td>
                                    <td class="pro-desc">
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit commodi obcaecati cumque consectetur alias incidunt?</p>
                                    </td>
                                  
                                </tr>
                                <tr>
                                    <td class="first-column">Fiyatı</td>
                                    <td class="pro-price">$295</td>
                                    <td class="pro-price">$275</td>
                                    
                                </tr>
                                <tr>
                                    <td class="first-column">Renk</td>
                                    <td class="pro-color">Black</td>
                                    <td class="pro-color">Red</td>
                                  
                                </tr>
                                <tr>
                                    <td class="first-column">Stok Durumu</td>
                                    <td class="pro-stock">In Stock</td>
                                    <td class="pro-stock">Stock Out</td>
                                 
                                </tr>
                                <tr>
                                    <td class="first-column">Sepete Ekle</td>
                                    <td><a href="cart.html" class="sqr-btn">Add to Cart</a></td>
                                    <td><a href="cart.html" class="sqr-btn disabled">Add to Cart</a></td>
                                    
                                </tr>
                                <tr>
                                    <td class="first-column">Puanı</td>
                                    <td class="pro-ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="pro-ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </td>
                                   
                                </tr>
                                <tr>
                                    <td class="first-column">Sil</td>
                                    <td class="pro-remove">
                                        <button><i class="fa fa-trash-o"></i></button>
                                    </td>
                                    <td class="pro-remove">
                                        <button><i class="fa fa-trash-o"></i></button>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Compare Page Content End -->
            </div>
        </div>
    </div>
</div>
<!-- compare main wrapper end -->