
@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- breadcrumb area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Anasayfa</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Hakkımızda</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->
<!-- about wrapper start -->
<div class="about-us-wrapper pt-4">
    <div class="container">
        <div class="row">
            <!-- About Text Start -->
            <div class="col-lg-6">
                <div class="about-text-wrap">
                    <h2>Sizler için</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus lacus ut, aliquet elementum ipsum. Cras ut sem eu metus facilisis scelerisque eget eget lacus. Sed a risus malesuada, gravida lectus vel, consequat magna. Suspendisse pretium vestibulum turpis et consequat.</p>

                </div>
            </div>
            <!-- About Text End -->
            <!-- About Image Start -->
            <div class="col-lg-5 ml-auto">
                <div class="about-image-wrap mt-md-26 mt-sm-26">
                    <img src="~/wwwroot//img/about/about.jpg" alt="About" />
                </div>
            </div>
            <!-- About Image End -->
        </div>
    </div>
</div>
<!-- about wrapper end -->



<!-- choosing area start -->
<div class="choosing-area pt-28">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-box text-center mb-30">
                    <h3>Neden bizi seçmelisiniz ? </h3>
                </div>
            </div>
        </div> <!-- section title end -->
        <div class="row">
            <div class="col-lg-4">
                <div class="single-choose-item text-center mb-md-30 mb-sm-30">
                    <i class="fa fa-globe"></i>
                    <h4>Ücretsiz Teslimat</h4>
                    <p>Her yere ücretsiz teslimat sağlayabilen temiz ve şeffaf.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-choose-item text-center mb-md-30 mb-sm-30">
                    <i class="fa fa-plane"></i>
                    <h4>Hızlı Teslimat</h4>
                    <p>Siparişleriniz 24 saatten kısa sürede kargoda</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-choose-item text-center mb-md-30 mb-sm-30">
                    <i class="fa fa-comments"></i>
                    <h4>Müşteri Hizmetleri</h4>
                    <p>7/24 ulaşım sağlayabileceğiniz müşteri hizmetleri</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- choosing area end -->



<!-- team area start -->
<div class="team-area pt-28">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-box text-center mb-10">
                    <h3>Takımımız</h3>
                </div>
            </div>
        </div> <!-- section title end -->
        <div class="row">


            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-member mb-30">
                    <div class="team-thumb img-full">
                        <img src="~/wwwroot/img/team/images.jpg" alt="" ">
                        <div class="team-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                    <div class="team-content text-center">
                        <h3>Aziz Görkem Akpur</h3>
                        <h6>Developer</h6>
                    </div>
                </div>
            </div> <!-- end single team member -->
        </div>
    </div>
</div>
<!-- team area end -->
