@model BitTekno.data.Models.Contact
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumb area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Anasayfa</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Giriş yap</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->
<!-- login register wrapper start -->
<div class="login-register-wrapper">
    <div class="container">
        <div class="member-area-from-wrap">
            <div class="row">
                <!-- Register Content Start -->
                <div class="col-lg-8">
                    <div class="login-reg-form-wrap mt-md-40 mt-sm-34">
                        <h2>Kayıt Formu</h2>
                            @using (Html.BeginForm("Register", "Contact", FormMethod.Post))
                            {
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <th colspan="2" align="center">Person Details</th>
                        </tr>
                        <tr>
                            <td>Ad: </td>
                            <td>
                                @Html.TextBoxFor(m => m.FirstName)
                            </td>
                        </tr>
                        <tr>
                            <td>Soyad: </td>
                            <td>
                                @Html.TextBoxFor(m => m.Lastname)
                            </td>
                        </tr>
                        <tr>
                            <td>Email: </td>
                            <td>
                                @Html.TextBoxFor(m => m.Email)
                            </td>
                        </tr>

                        <tr>
                            <td>Password: </td>
                            <td>
                                @Html.TextBoxFor(m => m.Password)
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Kayıt Ol" /></td>
                        </tr>
                    </table>
                            }
                    </div>
                </div>
                <!-- Register Content End -->
            </div>
        </div>
    </div>
</div>
<!-- login register wrapper end -->