@{
    ViewBag.Title = "Home Page";
}

<!-- hero slider start -->
<div class="hero-slider-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="slider-wrapper-area2 mt-30">
                    <div class="hero-slider-active hero__2 slick-dot-style hero-dot">
                        <div class="single-slider d-flex align-items-center " style="background-image: url(../wwwroot/img/slider/slider21_bg.jpg);">
                            
                            <div class="container">
                                <div class="slider-main-content">
                                    <div class="slider-text text-center">
                                        <h2>Yeni Kameranı</h2>
                                        <h3>%50''ye varan indirimle almak istemez misin?</h3>
                                        <p>Sıradan değil alışılmışın dışında fotoğraflar için.</p>
                                        <a class="home-btn" href="#">Hemen al</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-slider d-flex align-items-center" style="background-image: url(../wwwroot/img/slider/slider22_bg.jpg);">
                            <div class="container">
                                <div class="slider-main-content">
                                    <div class="slider-text text-center">
                                        <h2>Yeni televizyonunu</h2>
                                        <h3>%70''e varan indirimle almak ister misin? </h3>
                                        <p>Dizinizin yeni bölümünü en kaliteli şekilde izlemek için.</p>
                                        <a class="home-btn" href="#">Hemen al</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hero slider end -->

<!-- product wrapper area strat -->
<div class="product-feature-wrapper mb-lg-6 mt-20">
    <div class="container">
        <div class="row">
            <!-- hot deals area start -->
            <div class="col-lg-6">
                <div class="hot-deals-wrap2 mb-30 mb-md-22 mb-sm-22 mt-xs-28">
                    <div class="section-title-2 d-flex justify-content-between mb-28">
                        <h3>Yeni Fırsatlar</h3>
                        <div class="category-append"></div>
                    </div> <!-- section title end -->
                    <div class="deals-carousel-active2 slick-padding">
                        <!-- product single item start -->
                        <div class="product-item fix">
                            <div class="product-thumb">
                                <a href="product-details.html">
                                    <img src="~/wwwroot/img/product/product-img7.jpg" class="img-pri" alt="">
                                    <img src="~/wwwroot/img/product/product-img13.jpg" class="img-sec" alt="">
                                </a>
                                <div class="product-label">
                                    <span>Yeni</span>
                                </div>
                                <div class="product-action-link">
                                    <a href="#" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip" data-placement="left" title="Quick view"><i class="fa fa-search"></i></span> </a>
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Compare"><i class="fa fa-refresh"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                            
                            <div class="product-content">
                                <h4><a href="product-details.html">Ürün Adı</a></h4>
                                <div class="pricebox">
                                    <span class="regular-price">70.00</span>
                                    <div class="ratings">
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <div class="pro-review">
                                            <span>4 Yorum</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product single item end -->
                        <!-- product single item start -->
                        <div class="product-item fix">
                            <div class="product-thumb">
                                <a href="product-details.html">
                                    <img src="~/wwwroot/img/product/product-img3.jpg" class="img-pri" alt="">
                                    <img src="~/wwwroot/img/product/product-img4.jpg" class="img-sec" alt="">
                                </a>
                                <div class="product-label">
                                    <span>hot</span>
                                </div>
                                <div class="product-action-link">
                                    <a href="#" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip" data-placement="left" title="Quick view"><i class="fa fa-search"></i></span> </a>
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Compare"><i class="fa fa-refresh"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h4><a href="product-details.html">vertual product 01</a></h4>
                                <div class="pricebox">
                                    <span class="regular-price">$70.00</span>
                                    <div class="ratings">
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <div class="pro-review">
                                            <span>1 Yorum</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product single item end -->
                        <!-- product single item start -->
                        <div class="product-item fix">
                            <div class="product-thumb">
                                <a href="product-details.html">
                                    <img src="~/wwwroot/img/product/product-img5.jpg" class="img-pri" alt="">
                                    <img src="~/wwwroot/img/product/product-img1.jpg" class="img-sec" alt="">
                                </a>
                                <div class="product-label">
                                    <span>hot</span>
                                </div>
                                <div class="product-action-link">
                                    <a href="#" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip" data-placement="left" title="Quick view"><i class="fa fa-search"></i></span> </a>
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Compare"><i class="fa fa-refresh"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h4><a href="product-details.html">vertual product 01</a></h4>
                                <div class="pricebox">
                                    <span class="regular-price">$70.00</span>
                                    <div class="ratings">
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <div class="pro-review">
                                            <span>1 Yorum</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product single item end -->
                    </div>
                </div>
            </div>
            <!-- hot deals area end -->
            <!-- most view area start -->
            <div class="col-lg-3">
                <div class="mostview-wrap">
                    <div class="section-title-2 d-flex justify-content-between mb-28">
                        <h3>Çok Satanlar</h3>
                        <div class="category-append"></div>
                    </div> <!-- section title end -->
                    <div class="category-carousel-active row" data-row="3">
                        <div class="col">
                            <div class="category-item">
                                <div class="category-thumb">
                                    <a href="product-details.html">
                                        <img src="~/wwwroot/img/product/product-img1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="category-content">
                                    <h4><a href="product-details.html">Virtual Product 01</a></h4>
                                    <div class="price-box">
                                        <div class="regular-price">
                                            $150.00
                                        </div>
                                        <div class="old-price">
                                            <del>$180.00</del>
                                        </div>
                                    </div>
                                    <div class="ratings">
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <div class="pro-review">
                                            <span>1 Yorum</span>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end single item -->
                        </div> <!-- end single item column -->
                        <div class="col">
                            <div class="category-item">
                                <div class="category-thumb">
                                    <a href="product-details.html">
                                        <img src="~/wwwroot/img/product/product-img2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="category-content">
                                    <h4><a href="product-details.html">simple Product 01</a></h4>
                                    <div class="price-box">
                                        <div class="regular-price">
                                            $100.00
                                        </div>
                                        <div class="old-price">
                                            <del>$110.00</del>
                                        </div>
                                    </div>
                                    <div class="ratings">
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <div class="pro-review">
                                            <span>1 Yorum</span>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end single item -->
                        </div> <!-- end single item column -->
                        <div class="col">
                            <div class="category-item">
                                <div class="category-thumb">
                                    <a href="product-details.html">
                                        <img src="~/wwwroot/img/product/product-img3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="category-content">
                                    <h4><a href="product-details.html">smart Product 10</a></h4>
                                    <div class="price-box">
                                        <div class="regular-price">
                                            $210.00
                                        </div>
                                        <div class="old-price">
                                            <del>$260.00</del>
                                        </div>
                                    </div>
                                    <div class="ratings">
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <div class="pro-review">
                                            <span>1 Yorum</span>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end single item -->
                        </div> <!-- end single item column -->
                        <div class="col">
                            <div class="category-item">
                                <div class="category-thumb">
                                    <a href="product-details.html">
                                        <img src="~/wwwroot/img/product/product-img4.jpg" alt="">
                                    </a>
                                </div>
                                <div class="category-content">
                                    <h4><a href="product-details.html">Virtual Product 01</a></h4>
                                    <div class="price-box">
                                        <div class="regular-price">
                                            $150.00
                                        </div>
                                        <div class="old-price">
                                            <del>$180.00</del>
                                        </div>
                                    </div>
                                    <div class="ratings">
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <div class="pro-review">
                                            <span>1 Yorum</span>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end single item -->
                        </div> <!-- end single item column -->
                        <div class="col">
                            <div class="category-item">
                                <div class="category-thumb">
                                    <a href="product-details.html">
                                        <img src="~/wwwroot/img/product/product-img5.jpg" alt="">
                                    </a>
                                </div>
                                <div class="category-content">
                                    <h4><a href="product-details.html">simple Product 01</a></h4>
                                    <div class="price-box">
                                        <div class="regular-price">
                                            $150.00
                                        </div>
                                        <div class="old-price">
                                            <del>$180.00</del>
                                        </div>
                                    </div>
                                    <div class="ratings">
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <div class="pro-review">
                                            <span>1 Yorum</span>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end single item -->
                        </div> <!-- end single item column -->
                        <div class="col">
                            <div class="category-item">
                                <div class="category-thumb">
                                    <a href="product-details.html">
                                        <img src="~/wwwroot/img/product/product-img6.jpg" alt="">
                                    </a>
                                </div>
                                <div class="category-content">
                                    <h4><a href="product-details.html">Virtual Product 01</a></h4>
                                    <div class="price-box">
                                        <div class="regular-price">
                                            $150.00
                                        </div>
                                        <div class="old-price">
                                            <del>$180.00</del>
                                        </div>
                                    </div>
                                    <div class="ratings">
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <div class="pro-review">
                                            <span>1 Yorum</span>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end single item -->
                        </div> <!-- end single item column -->
                        <div class="col">
                            <div class="category-item">
                                <div class="category-thumb">
                                    <a href="product-details.html">
                                        <img src="~/wwwroot/img/product/product-img14.jpg" alt="">
                                    </a>
                                </div>
                                <div class="category-content">
                                    <h4><a href="product-details.html">Virtual Product 01</a></h4>
                                    <div class="price-box">
                                        <div class="regular-price">
                                            $150.00
                                        </div>
                                        <div class="old-price">
                                            <del>$180.00</del>
                                        </div>
                                    </div>
                                    <div class="ratings">
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <div class="pro-review">
                                            <span>1 Yorum</span>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end single item -->
                        </div> <!-- end single item column -->
                        <div class="col">
                            <div class="category-item">
                                <div class="category-thumb">
                                    <a href="product-details.html">
                                        <img src="~/wwwroot/img/product/product-img15.jpg" alt="">
                                    </a>
                                </div>
                                <div class="category-content">
                                    <h4><a href="product-details.html">simple Product 01</a></h4>
                                    <div class="price-box">
                                        <div class="regular-price">
                                            $150.00
                                        </div>
                                        <div class="old-price">
                                            <del>$180.00</del>
                                        </div>
                                    </div>
                                    <div class="ratings">
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <div class="pro-review">
                                            <span>1 Yorum</span>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end single item -->
                        </div> <!-- end single item column -->
                        <div class="col">
                            <div class="category-item">
                                <div class="category-thumb">
                                    <a href="product-details.html">
                                        <img src="~/wwwroot/img/product/product-img16.jpg" alt="">
                                    </a>
                                </div>
                                <div class="category-content">
                                    <h4><a href="product-details.html">Virtual Product 01</a></h4>
                                    <div class="price-box">
                                        <div class="regular-price">
                                            $150.00
                                        </div>
                                        <div class="old-price">
                                            <del>$180.00</del>
                                        </div>
                                    </div>
                                    <div class="ratings">
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <div class="pro-review">
                                            <span>1 Yorum</span>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end single item -->
                        </div> <!-- end single item column -->
                    </div>
                </div>
            </div>
            <!-- most view area end -->
            <!-- hot sale area start -->
            <div class="col-lg-3">
                <div class="hotsale-wrap mt-md-22 mt-sm-22">
                    <div class="section-title-2 d-flex justify-content-between mb-28">
                        <h3>En Fazla Yorum</h3>
                        <div class="category-append"></div>
                    </div> <!-- section title end -->
                    <div class="category-carousel-active row" data-row="3">
                        <div class="col">
                            <div class="category-item">
                                <div class="category-thumb">
                                    <a href="product-details.html">
                                        <img src="~/wwwroot/img/product/product-img7.jpg" alt="">
                                    </a>
                                </div>
                                <div class="category-content">
                                    <h4><a href="product-details.html">simple Product 01</a></h4>
                                    <div class="price-box">
                                        <div class="regular-price">
                                            $150.00
                                        </div>
                                        <div class="old-price">
                                            <del>$180.00</del>
                                        </div>
                                    </div>
                                    <div class="ratings">
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <div class="pro-review">
                                            <span>1 Yorum</span>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end single item -->
                        </div> <!-- end single item column -->
                        <div class="col">
                            <div class="category-item">
                                <div class="category-thumb">
                                    <a href="product-details.html">
                                        <img src="~/wwwroot/img/product/product-img8.jpg" alt="">
                                    </a>
                                </div>
                                <div class="category-content">
                                    <h4><a href="product-details.html">group Product 01</a></h4>
                                    <div class="price-box">
                                        <div class="regular-price">
                                            $150.00
                                        </div>
                                        <div class="old-price">
                                            <del>$180.00</del>
                                        </div>
                                    </div>
                                    <div class="ratings">
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <div class="pro-review">
                                            <span>1 Yorum</span>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end single item -->
                        </div> <!-- end single item column -->
                        <div class="col">
                            <div class="category-item">
                                <div class="category-thumb">
                                    <a href="product-details.html">
                                        <img src="~/wwwroot/img/product/product-img9.jpg" alt="">
                                    </a>
                                </div>
                                <div class="category-content">
                                    <h4><a href="product-details.html">trend Product 01</a></h4>
                                    <div class="price-box">
                                        <div class="regular-price">
                                            $150.00
                                        </div>
                                        <div class="old-price">
                                            <del>$180.00</del>
                                        </div>
                                    </div>
                                    <div class="ratings">
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <div class="pro-review">
                                            <span>1 Yorum</span>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end single item -->
                        </div> <!-- end single item column -->
                        <div class="col">
                            <div class="category-item">
                                <div class="category-thumb">
                                    <a href="product-details.html">
                                        <img src="~/wwwroot/img/product/product-img10.jpg" alt="">
                                    </a>
                                </div>
                                <div class="category-content">
                                    <h4><a href="product-details.html">Virtual Product 01</a></h4>
                                    <div class="price-box">
                                        <div class="regular-price">
                                            $120.00
                                        </div>
                                        <div class="old-price">
                                            <del>$160.00</del>
                                        </div>
                                    </div>
                                    <div class="ratings">
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <div class="pro-review">
                                            <span>1 Yorum</span>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end single item -->
                        </div> <!-- end single item column -->
                        <div class="col">
                            <div class="category-item">
                                <div class="category-thumb">
                                    <a href="product-details.html">
                                        <img src="~/wwwroot/img/product/product-img11.jpg" alt="">
                                    </a>
                                </div>
                                <div class="category-content">
                                    <h4><a href="product-details.html">smart Product 01</a></h4>
                                    <div class="price-box">
                                        <div class="regular-price">
                                            $140.00
                                        </div>
                                        <div class="old-price">
                                            <del>$160.00</del>
                                        </div>
                                    </div>
                                    <div class="ratings">
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <div class="pro-review">
                                            <span>1 Yorum</span>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end single item -->
                        </div> <!-- end single item column -->
                        <div class="col">
                            <div class="category-item">
                                <div class="category-thumb">
                                    <a href="product-details.html">
                                        <img src="~/wwwroot/img/product/product-img12.jpg" alt="">
                                    </a>
                                </div>
                                <div class="category-content">
                                    <h4><a href="product-details.html">Virtual Product 01</a></h4>
                                    <div class="price-box">
                                        <div class="regular-price">
                                            $120.00
                                        </div>
                                        <div class="old-price">
                                            <del>$130.00</del>
                                        </div>
                                    </div>
                                    <div class="ratings">
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <div class="pro-review">
                                            <span>1 Yorum</span>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end single item -->
                        </div> <!-- end single item column -->
                        <div class="col">
                            <div class="category-item">
                                <div class="category-thumb">
                                    <a href="product-details.html">
                                        <img src="~/wwwroot/img/product/product-img9.jpg" alt="">
                                    </a>
                                </div>
                                <div class="category-content">
                                    <h4><a href="product-details.html">trend Product 01</a></h4>
                                    <div class="price-box">
                                        <div class="regular-price">
                                            $150.00
                                        </div>
                                        <div class="old-price">
                                            <del>$180.00</del>
                                        </div>
                                    </div>
                                    <div class="ratings">
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <div class="pro-review">
                                            <span>1 Yorum</span>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end single item -->
                        </div> <!-- end single item column -->
                        <div class="col">
                            <div class="category-item">
                                <div class="category-thumb">
                                    <a href="product-details.html">
                                        <img src="~/wwwroot/img/product/product-img10.jpg" alt="">
                                    </a>
                                </div>
                                <div class="category-content">
                                    <h4><a href="product-details.html">Virtual Product 01</a></h4>
                                    <div class="price-box">
                                        <div class="regular-price">
                                            $120.00
                                        </div>
                                        <div class="old-price">
                                            <del>$160.00</del>
                                        </div>
                                    </div>
                                    <div class="ratings">
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <div class="pro-review">
                                            <span>1 Yorum</span>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end single item -->
                        </div> <!-- end single item column -->
                        <div class="col">
                            <div class="category-item">
                                <div class="category-thumb">
                                    <a href="product-details.html">
                                        <img src="~/wwwroot/img/product/product-img16.jpg" alt="">
                                    </a>
                                </div>
                                <div class="category-content">
                                    <h4><a href="product-details.html">Virtual Product 01</a></h4>
                                    <div class="price-box">
                                        <div class="regular-price">
                                            $120.00
                                        </div>
                                        <div class="old-price">
                                            <del>$160.00</del>
                                        </div>
                                    </div>
                                    <div class="ratings">
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <div class="pro-review">
                                            <span>1 Yorum</span>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end single item -->
                        </div> <!-- end single item column -->
                    </div>
                </div>
            </div>
            <!-- hot sale area end -->
        </div>
    </div>
</div>
<!-- product wrapper area end -->

<!-- latest product start -->
<div class="latest-product latest-pro-2 pt-14 pt-lg-0 pt-md-0 pt-sm-0">
    <div class="container">
        <div class="section-title mb-30">
            <div class="title-icon">
                <i class="fa fa-flash"></i>
            </div>
            <h3>Son Eklenen Ürünler</h3>
        </div> <!-- section title end -->
        <!-- featured category start -->
        <div class="latest-product-active slick-padding slick-arrow-style">
            <!-- product single item start -->
            <div class="product-item fix">
                <div class="product-thumb">
                    <a href="product-details.html">
                        <img src="~/wwwroot/img/product/product-img1.jpg" class="img-pri" alt="">
                        <img src="~/wwwroot/img/product/product-img2.jpg" class="img-sec" alt="">
                    </a>
                    <div class="product-label">
                        <span>hot</span>
                    </div>
                    <div class="product-action-link">
                        <a href="#" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip" data-placement="left" title="Quick view"><i class="fa fa-search"></i></span> </a>
                        <a href="#" data-toggle="tooltip" data-placement="left" title="Wishlist"><i class="fa fa-heart-o"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="left" title="Compare"><i class="fa fa-refresh"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="left" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product-content">
                    <h4><a href="product-details.html">vertual product 01</a></h4>
                    <div class="pricebox">
                        <span class="regular-price">$70.00</span>
                        <div class="ratings">
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <div class="pro-review">
                                <span>1 Yorum</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- product single item end -->
            <!-- product single item start -->
            <div class="product-item fix">
                <div class="product-thumb">
                    <a href="product-details.html">
                        <img src="~/wwwroot/img/product/product-img3.jpg" class="img-pri" alt="">
                        <img src="~/wwwroot/img/product/product-img4.jpg" class="img-sec" alt="">
                    </a>
                    <div class="product-label">
                        <span>hot</span>
                    </div>
                    <div class="product-action-link">
                        <a href="#" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip" data-placement="left" title="Quick view"><i class="fa fa-search"></i></span> </a>
                        <a href="#" data-toggle="tooltip" data-placement="left" title="Wishlist"><i class="fa fa-heart-o"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="left" title="Compare"><i class="fa fa-refresh"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="left" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product-content">
                    <h4><a href="product-details.html">simple product 04</a></h4>
                    <div class="pricebox">
                        <span class="regular-price">$80.00</span>
                        <div class="ratings">
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <div class="pro-review">
                                <span>1 Yorum</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- product single item end -->
            <!-- product single item start -->
            <div class="product-item fix">
                <div class="product-thumb">
                    <a href="product-details.html">
                        <img src="~/wwwroot/img/product/product-img5.jpg" class="img-pri" alt="">
                        <img src="~/wwwroot/img/product/product-img6.jpg" class="img-sec" alt="">
                    </a>
                    <div class="product-label">
                        <span>hot</span>
                    </div>
                    <div class="product-action-link">
                        <a href="#" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip" data-placement="left" title="Quick view"><i class="fa fa-search"></i></span> </a>
                        <a href="#" data-toggle="tooltip" data-placement="left" title="Wishlist"><i class="fa fa-heart-o"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="left" title="Compare"><i class="fa fa-refresh"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="left" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product-content">
                    <h4><a href="product-details.html">grouped product 05</a></h4>
                    <div class="pricebox">
                        <span class="regular-price">$70.00</span>
                        <div class="ratings">
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <div class="pro-review">
                                <span>1 Yorum</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- product single item end -->
            <!-- product single item start -->
            <div class="product-item fix">
                <div class="product-thumb">
                    <a href="product-details.html">
                        <img src="~/wwwroot/img/product/product-img7.jpg" class="img-pri" alt="">
                        <img src="~/wwwroot/img/product/product-img8.jpg" class="img-sec" alt="">
                    </a>
                    <div class="product-label">
                        <span>hot</span>
                    </div>
                    <div class="product-action-link">
                        <a href="#" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip" data-placement="left" title="Quick view"><i class="fa fa-search"></i></span> </a>
                        <a href="#" data-toggle="tooltip" data-placement="left" title="Wishlist"><i class="fa fa-heart-o"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="left" title="Compare"><i class="fa fa-refresh"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="left" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product-content">
                    <h4><a href="product-details.html">affiliate product 06</a></h4>
                    <div class="pricebox">
                        <span class="regular-price">$100.00</span>
                        <div class="ratings">
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <div class="pro-review">
                                <span>1 Yorum</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- product single item end -->
            <!-- product single item start -->
            <div class="product-item fix">
                <div class="product-thumb">
                    <a href="product-details.html">
                        <img src="~/wwwroot/img/product/product-img9.jpg" class="img-pri" alt="">
                        <img src="~/wwwroot/img/product/product-img10.jpg" class="img-sec" alt="">
                    </a>
                    <div class="product-label">
                        <span>hot</span>
                    </div>
                    <div class="product-action-link">
                        <a href="#" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip" data-placement="left" title="Quick view"><i class="fa fa-search"></i></span> </a>
                        <a href="#" data-toggle="tooltip" data-placement="left" title="Wishlist"><i class="fa fa-heart-o"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="left" title="Compare"><i class="fa fa-refresh"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="left" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product-content">
                    <h4><a href="product-details.html">vertual product 01</a></h4>
                    <div class="pricebox">
                        <span class="regular-price">$70.00</span>
                        <div class="ratings">
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <div class="pro-review">
                                <span>1 Yorum</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- product single item end -->
            <!-- product single item start -->
            <div class="product-item fix">
                <div class="product-thumb">
                    <a href="product-details.html">
                        <img src="~/wwwroot/img/product/product-img11.jpg" class="img-pri" alt="">
                        <img src="~/wwwroot/img/product/product-img12.jpg" class="img-sec" alt="">
                    </a>
                    <div class="product-label">
                        <span>hot</span>
                    </div>
                    <div class="product-action-link">
                        <a href="#" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip" data-placement="left" title="Quick view"><i class="fa fa-search"></i></span> </a>
                        <a href="#" data-toggle="tooltip" data-placement="left" title="Wishlist"><i class="fa fa-heart-o"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="left" title="Compare"><i class="fa fa-refresh"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="left" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product-content">
                    <h4><a href="product-details.html">simple product 01</a></h4>
                    <div class="pricebox">
                        <span class="regular-price">$50.00</span>
                        <div class="ratings">
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span class="good"><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <div class="pro-review">
                                <span>1 Yorum</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- product single item end -->
        </div>
        <!-- featured category end -->
    </div>
</div>
<!-- latest product end -->